<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Authentification</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<p></p>
	
		<div class="container col-md-3 col-md-offset-5 mt-5">
				
				<div class="card ">
					<div class="card-header text-center bg-info text-white">Page de connexion</div>
						<div class="card-body">
							<div class="container text-danger m-2">
								<span th:if="${param.error}">
									Login ou mot de passe incorrect
								</span>
								<span th:if="${param.logout}">
									Vous avez été deconnecté 
								</span>
							</div>
							<form th:action="@{/login}" method="post">
								<div class= "form-group">
									<label class="control-label"> Login</label>
									<input class="form-control" type="text"  name="username" />
								</div>
								<div class= "form-group">
									<label class="control-label"> Mot de passe</label>
									<input class="form-control" type="password"  name="password" />
								</div>
								
								<div>
									<button type="submit" class="btn btn-info">Send</button>
								</div>
							</form>
						</div>	
				</div>
			</div>
		

</body>
</html>